<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wazinsure.qsure">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/insurance_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/insurance_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".UI.DisplayAnnualCoverActivity"></activity>
        <activity android:name=".UI.DisplayMonthlyCoverActivity" />
        <activity android:name=".UI.PurchaseCoverActivityFirstTimeUser" />
        <activity android:name=".UI.LoginActivity2" />
        <activity android:name=".UI.DisplayDailyCoverActivity" />
        <activity android:name=".UI.quizpackage.QuizActivity" />
        <activity
            android:name=".UI.PurchaseCoverActivity2"
            android:label="@string/title_activity_purchase_cover"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UI.PaCoverDetailActiviy" />
        <activity
            android:name=".UI.LoginActivityVolley"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".UI.RegistrationActivityVolley"
            android:theme="@style/AppTheme2" />
        <activity android:name=".UI.UpdateProfileActivity" />
        <activity android:name=".UI.FAQsActivity" />
        <activity android:name=".UI.quizpackage.StartingScreenActivity" />
        <activity android:name=".UI.RenewalsActivity" />
        <activity android:name=".UI.LodgeClaimActivity" />
        <activity android:name=".UI.MyPoliiesActivity" />
        <activity android:name=".UI.DisplayPaCoversActivity" />
        <activity
            android:name=".UI.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.HomeActivity2"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UI.IntroActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>